*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
./app/src/main/assets
./app/src/main/java/com/frommetoyou/soundforme/domain/use_case/AudioClassifierUseCase
./app/src/main/java/com/frommetoyou/soundforme/domain/use_case/DetectorService.kt
./keys
./app/google-services.json
key.properties